/* font-family: 'Caveat', cursive; */
.content{
    display: flex;
    height: 90vh;
  }
.contentCard{
    flex: 7;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border-radius: 10px;
    /* background-color: lightgreen; */
}
.headerWrapper{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background-color: #D6C9C9;
    color: #555 ;
    width: 100%;
    /* position: fixed;
    top: 0px;
    left: 0px; */
}
.headerTitle{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.sidebarIcon{
    margin: 0px 20px;
    cursor: pointer;
}

.sidebar{
    /* position: absolute;
    top: 70px; */
    flex: 1;
    height:fit-content;
    padding: 10px 0px;
    box-shadow: 1px 2px 9px 0px gray;
}
.sidebarAllItems{
    list-style: none;
    padding: 0px;
}
.sidebarItem{
    padding: 15px 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}
.sidebarItem:hover{
    background-color: #E8EEF2;
}  
.sidebarItem > span{
    margin-right: 15px;
}
.sidebarItemIcon{
    margin-right: 35px;
    margin-left: 20px;
}