/* font-family: 'Caveat', cursive; */
:root{
  --theme-main: #d6c9c9;
}
.content {
  display: flex;
  height: 90vh;
}
.contentCard {
  flex: 7;
  /* width: 100%;
  height: 100%; */
  padding: 15px;
  border-radius: 10px;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  background-color: var(--theme-main);
  color: #555;
  width: 100%;
  /* position: fixed;
    top: 0px;
    left: 0px; */
}
.headerTitle {
  font-family: "Caveat", cursive;
  font-size: 40px;
}
.sidebarIcon {
  margin: 0px 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
input[type="text"] {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

input[type="checkbox"]{
  width: 18px;
  height: 18px;
}